@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

body,
* {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    width: 100%;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transition: 1s;
    z-index: 1;
}

nav.black {
    background: rgba(0, 0, 0, 1);
    transition: 1s;
}

nav.black ul li a {
    line-height: 50px;
}

nav ul {
    float: right;
    width: 40%;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
    text-align: center;
}

nav ul li a {
    line-height: 80px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

nav ul li a.active {
    color: #92e426;
}

nav ul li a:hover {
    color: #92e426;
}

nav.toggle-nav {
    display: none;
}

.profile {
    position: relative;
    text-align: center;
}

.profile img {
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
}

.profile .intro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 3vw;
    font-weight: 600;
}

.profile h2 {
    position: absolute;
    bottom: 5%;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

.bounce {
    align-self: flex-end;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: linear;
}

section h1 {
    text-align: center;
    text-transform: uppercase;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio > div {
    max-width: 300px;
    text-align: center;
    line-height: 50px;
}

.thumb-pf {
    position: relative;
    opacity: 0;
    margin: -25px 25px 25px 25px;
}

.thumb-pf figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    object-fit: cover;
    opacity: 1;
}
.thumb-pf figure {
    background: #92e426;
}
.thumb-pf figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(2px);
    cursor: pointer;
    opacity: .2;
}

.thumb-pf figure .thumb-link {
    display: none;
}
.thumb-pf figure:hover .thumb-link {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

section {
    padding: 50px 0;
    position: relative;
    width: 100%;
    max-width: 1080px;
}

@media (max-width: 500px) {
    .profile img {
        height: 90vh;
        object-fit: cover;
        filter: brightness(50%);
    }
}

@media (max-width: 768px) {
    nav.blacked {
        background: rgba(0, 0, 0, .9);
        transition: 2s;
        height: 100%;
    }
    nav ul li {
        text-align: left;
        transition: .5s;
    }
    nav ul li a {
        line-height: 50px;
    }
    nav ul {
        display: none;
        width: 100%;
    }
    
    nav ul.display {
        display: inline-block;
    }
    .toggle-nav {
        width: 30px;
        height: 30px;
        position: relative;
        margin: 10px;
        float: right;
        cursor: pointer;
    }

    .bar {
        width: 30px;
        height: 3px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s;
    }

    .bar:before,
    .bar:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: #fff;
        transition: .5s;
    }
    .bar:before {
        top: -10px;
    }
    .bar:after {
        top: 10px;
    }
    .toggle-nav.open .bar {
        background: rgba(0, 0, 0, 0);
    }
    .toggle-nav.open .bar:before {
        top: 0;
        transform: rotate(135deg);
    }
    .toggle-nav.open .bar:after {
        top: 0;
        transform: rotate(-135deg);
    }
    .portfolio > div {
        max-width: 350px;
        margin: 15px;
    }
}