@import url("https://fonts.googleapis.com/css?family=Anaheim|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Yellowtail&display=swap");
* {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.sticky-to-top {
  position: fixed;
  color: #EFE7E5;
  width: auto;
  bottom: 2%;
  right: 1%;
  padding: 10px;
  background: rgba(17, 20, 59, 0.65);
  font-weight: 900;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  text-decoration: none;
}

.sticky-to-top.block {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: none;
}

nav {
  font-family: "Raleway", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  z-index: 1;
}

nav .logo {
  font-family: 'Yellowtail', cursive;
  color: #EFE7E5;
  float: left;
  width: auto;
  padding: 20px;
  font-size: 35px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  cursor: pointer;
}

nav.black {
  background: #11143b;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

nav.black .logo {
  font-size: 20px;
  padding: 10px 20px;
}

nav.black a {
  line-height: 50px;
}

nav ul {
  float: right;
  width: 30%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
  text-align: center;
}

nav ul li a {
  line-height: 80px;
  color: #EFE7E5;
  padding: 7px 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

nav ul li a.active {
  color: #EFE7E5;
  background: #3285B3;
}

nav ul li a:hover {
  color: #EFE7E5;
  background: #3285B3;
}

nav .toggle-nav {
  display: none;
}

.profile {
  position: relative;
  text-align: center;
  height: 100vh;
}

.profile img {
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.profile .overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(35, 0, 255, 0.3);
}

.profile .intro {
  font-family: 'Anaheim', sans-serif !important;
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #EFE7E5;
  font-size: 4vw;
  font-weight: 700;
}

.profile h2 {
  font-family: "Raleway", sans-serif;
  position: absolute;
  bottom: 3%;
  font-size: 15px;
  font-weight: 700;
  color: #EFE7E5;
}

.profile .bounce {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

section {
  font-family: "Raleway", sans-serif;
  padding: 50px 0;
  position: relative;
  width: 100%;
}

section h1 {
  text-align: center;
  text-transform: uppercase;
}

.project {
  height: 100vh;
  padding-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project .crs-container {
  width: 90%;
  max-width: 1300px;
  position: relative;
}

.project .crs-container .carousel {
  padding: 35px;
  margin-top: 3rem;
}

.project .crs-container .carousel .crs-item {
  position: relative;
  padding: 15px 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project .crs-container .carousel .crs-item .crs-img {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  position: relative;
  opacity: 0.9999;
  max-width: 50%;
  margin-top: 50px;
  margin-right: -30px;
  -webkit-box-shadow: 5px 5px 7px 0px rgba(17, 20, 59, 0.5);
          box-shadow: 5px 5px 7px 0px rgba(17, 20, 59, 0.5);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project .crs-container .carousel .crs-item .crs-img .crs-overlay {
  position: absolute;
  top: 0;
  bottom: 100;
  left: 100;
  background-color: #11143b;
  opacity: .35;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project .crs-container .carousel .crs-item .crs-text {
  max-width: 50%;
  margin-left: -30px;
  padding: 50px 80px;
  background: #11143b;
  color: #EFE7E5;
  font-size: 14px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.project .crs-container .carousel .crs-item .crs-text a {
  color: #EFE7E5;
  text-decoration: none;
  margin-right: 20px;
}

.project .crs-container .carousel .crs-item .crs-text a.crs-demo {
  background: #3285B3;
  padding: 7px 20px;
}

.project .crs-container .carousel .crs-item .crs-text a.crs-source {
  background: #6A6A87;
  padding: 7px 20px;
}

.project .crs-container .carousel .crs-item:hover .crs-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #11143b;
  opacity: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project .crs-container .carousel .crs-item:hover .crs-img {
  -webkit-filter: unset;
          filter: unset;
  margin-right: -15px;
  margin-top: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.project .crs-container .carousel .crs-item:hover .crs-text {
  margin-left: 15px;
  margin-top: 50px;
}

.project .crs-container > .next,
.project .crs-container > .prev {
  position: absolute;
  width: auto;
  color: #11143b;
  background: #3285B3;
  padding: 5px;
  cursor: pointer;
  font-size: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  line-height: 0;
}

.project .crs-container > .next {
  right: 0;
}

.about {
  width: 100%;
  background: url("../image/silhouette.jpg") top;
  height: 100vh;
  position: relative;
}

.about .container {
  position: absolute;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  color: #C3C3E5;
}

.about .container p {
  width: 85%;
}

.about .container p b {
  color: #3285B3;
}

.about .container .skill-set {
  margin: 20px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 75%;
}

.about .container .skill-set img {
  width: 60px;
  height: auto;
  background: #EFE7E5;
  padding: 5px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .about .container .skill-set {
    width: 90%;
  }
}

.contact {
  background: #EFE7E5;
  height: 100vh;
  width: 100%;
  padding: 0 !important;
}

.contact h4 {
  text-align: center;
}

.contact .container {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0 auto;
}

.contact .container form {
  margin: 20px auto;
  width: 50%;
}

.contact .container form input {
  padding: 5px;
}

.contact .container form .submit {
  width: auto;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .contact .container form {
    width: 80%;
  }
}

footer {
  padding: 20px;
  width: 100%;
  background: #11143b;
  color: #EFE7E5;
}

footer .contact-ls {
  position: relative;
  width: 85%;
  color: #EFE7E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .contact-ls .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
  margin: 0;
}

@media (max-width: 600px) {
  footer .contact-ls .column {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}

footer .contact-ls .soc-link {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: auto;
  margin: 0;
}

footer .contact-ls .soc-link i {
  margin: 0;
  width: auto;
}

footer .contact-ls .soc-link a {
  padding: 0 5px;
  font-size: 18px;
  width: auto;
  color: #EFE7E5;
  text-decoration: none;
  margin: 0;
}

footer .contact-ls .soc-link a:hover {
  color: #3285B3;
}

@media (max-width: 500px) {
  .profile img {
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
}

@media (max-width: 768px) {
  nav.blacked {
    background: #11143b;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    height: 100%;
  }
  nav.blacked .logo {
    font-size: 20px;
    padding: 10px;
  }
  nav .logo {
    position: absolute;
    font-size: 20px;
    padding: 10px;
  }
  nav ul {
    display: none;
    width: 100%;
  }
  nav ul li {
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  nav ul li a {
    line-height: 50px;
  }
  nav ul.display {
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  nav .toggle-nav {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    margin: 10px;
    float: right;
    cursor: pointer;
  }
  nav .toggle-nav .bar {
    width: 30px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  nav .toggle-nav .bar:before,
  nav .toggle-nav .bar:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  nav .toggle-nav .bar:before {
    top: -10px;
  }
  nav .toggle-nav .bar:after {
    top: 10px;
  }
  nav .toggle-nav.open .bar {
    background: #11143b;
  }
  nav .toggle-nav.open .bar:before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: 0;
  }
  nav .toggle-nav.open .bar:after {
    top: 0;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .project {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .project .crs-container {
    width: 100%;
  }
  .project .crs-container .carousel {
    padding: 10px;
    margin-top: 1rem;
  }
  .project .crs-container .carousel .crs-item {
    display: inline-block !important;
    padding: 0;
  }
  .project .crs-container .carousel .crs-item .crs-img {
    max-width: 85%;
    margin: 10px auto;
    -webkit-filter: unset;
            filter: unset;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.85);
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.85);
  }
  .project .crs-container .carousel .crs-item .crs-text {
    max-width: 95%;
    margin: -5% auto 0 auto;
    padding: 7% 20px 7% 20px;
    font-size: 12px;
  }
  .project .crs-container .carousel .crs-item:hover .crs-overlay {
    top: 0;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .project .crs-container .carousel .crs-item:hover .crs-img {
    -webkit-filter: unset;
            filter: unset;
    margin: 10px auto;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .project .crs-container .carousel .crs-item:hover .crs-text {
    margin-left: 10px;
    margin: -5% auto 0 auto;
  }
  .project .crs-container > .next, .project .crs-container > .prev {
    opacity: .8;
  }
}
/*# sourceMappingURL=style.css.map */